menu "Example Configuration"

    config EXAMPLE_IPV4
        bool "IPV4"
        default y

    config EXAMPLE_IPV6
        bool "IPV6"
        default n
        select EXAMPLE_CONNECT_IPV6

    config EXAMPLE_PORT
        int "Port"
        range 0 65535
        default 3333
        help
            Local port the example server will listen on.

	config EXAMPLE_STATIC_IP_ADDR
        string "Static IP address"
        default "192.168.52.50"
        help
            Set static IP address.

    config EXAMPLE_STATIC_NETMASK_ADDR
        string "Static netmask address"
        default "255.255.255.0"
        help
            Set static netmask address.


	config GPIO_JUICE
        int "Juice Pin"
        default 14
        help
            Local port the example server will listen on.
endmenu
